

<%= form_for [@charge, @entry], builder: LabellingFormBuilder do |f| %>

    <% if @entry.errors.any? %>
        <% @entry.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger" role="alert">
              <%= msg %>
            </div>
        <% end %>
    <% end %>

    <%= f.label_text_field "Team No",:car_no, {} %>

    <%= f.label_text_field "Entry Name",:name, {} %>

    <%= f.label_text_field "Captain",:captain, {} %>

    <%= f.label_text_field "Team Members",:members, {} %>

    <%= f.label_select("Team",:team_id, @teams,{}) %>

    <%= f.label_select("Car",:car_id, @cars,{}) %>

    <%= f.label_select("Starting Checkpoint",:start_guard_id, @start_guards,{:include_blank=>'-- select --'}) %>

    <%= f.label_check_box("Ladies",:is_ladies,{}) %>

    <%= f.label_check_box("New Team",:is_newcomer,{}) %>

    <%= f.label_check_box("International",:is_international,{}) %>

    <%= f.label_check_box("Bikes",:is_bikes,{}) %>

    <%= f.label_text_field "Kwacha Raised",:raised_kwacha, {} %>

    <%= f.label_text_field "Gauntlet Pen m",:dist_penalty_gauntlet, {} %>

    <%= f.label_text_field "Other Pen m",:dist_penalty_nongauntlet, {} %>

    <%= f.label_text_field "Late Overide min",:late_finish_min, {} %>

    <%= f.submit (f.object.new_record? ? "Create" : "Update"), class: "btn btn-primary" %>
    <% if f.object.new_record? %>
      <%= link_to 'Cancel', charge_path(@charge), class: "btn btn-primary" %>
    <% else %>
        <%= link_to 'Cancel', charge_entry_path(@charge,@entry), class: "btn btn-primary" %>
    <% end %>
<% end %>
