<div class="card <%= @entry.result_state_ref=='PROCESSED' ? 'card-outline-success' : 'card-outline-danger' %>">
  <% unless @entry.result_state_ref=='PROCESSED' %>
      <div class="card-block text-danger">
        <h3 class="card-title">Result</h3>
        <p>Not Processed</p>
        <% unless @entry.result_state_ref=='PROCESSED' or @entry.result_state_messages.nil? %>
            <ul>
              <% @entry.result_state_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
        <% end %>
      </div>
  <% else %>
      <div class="card-block text-success">
        <h3 class="card-title">Result</h3>
        <p><b><%= @entry.result %></b></p>
<p><%= @entry.entry_geom.cleans_count.nil? ? 0 : @entry.entry_geom.cleans_count %> clean points.</p>
        <p>Best possible distance: <b><%= @entry.dist_best.nil? ? '-' : number_with_precision(@entry.dist_best/1000.0, precision: 2) %>km</b> </p>

        <p>Actual distance: <b><%= number_with_precision(@entry.dist_real/1000.0, precision: 2) %>km</b>(<%= @entry.dist_best.nil? ? '-' : number_with_precision(@entry.dist_real*1.0/@entry.dist_best*1.0, precision: 2)  %>x) of which gauntlet <b><%= number_with_precision(@entry.dist_gauntlet/1000.0, precision: 2) %>km</b></p>

        <p>Gauntlet Penalties: <b><%= number_with_precision(@entry.dist_penalty_gauntlet/1000.0, precision: 2) %>km</b></p>
        <p>Gauntlet with Penalties and Multiplier(<%=@charge.gauntlet_multiplier%>x) <b><%= number_with_precision(@entry.dist_multiplied_gauntlet/1000.0, precision: 2) %>km</b></p>

        <p>Competition distance: <b><%= number_with_precision(@entry.dist_competition/1000.0, precision: 2) %>km</b></p>
        <p>Net distance:
          <% if @entry.dist_net.nil? %>
              <b>n/a</b>
          <% else %>
            <b><%= number_with_precision(@entry.dist_net/1000.0, precision: 2) %>km</b>
          <% end %>
        </p>

      </div>
  <% end %>
  <div class="card-block">
    <%= form_tag({action: :guess_checkins}) do %>
        <div class="form-group">
          <%= submit_tag "Guess CPs", class: "btn btn-primary btn-sm" %>
        </div>
    <% end %>

    <% if @entry.result_state_ref=='READY' %>
      <%= form_tag({action: :process_result}) do %>
          <div class="form-group">
            <%= submit_tag "Get Result", class: "btn btn-primary btn-sm" %>
          </div>
      <% end %>

    <% end %>
    <%= form_tag({action: :clear_result}) do %>
        <div class="form-group">
          <%= submit_tag "Clear Result", class: "btn btn-primary btn-sm" %>
        </div>
    <% end %>

    <%= form_tag({action: :clear_clean}) do %>
        <div class="form-group">
          <%= submit_tag "Clear All", class: "btn btn-primary btn-sm" %>
        </div>
    <% end %>
  </div>


</div>