
<% @legs.each do |leg| %>
<div class="col-sm-8">
  <div class="heading-bar" style="<%= leg.is_gauntlet ? 'background-color:#f2dede; color:#818a91;' : leg.is_tsetse ? 'background-color:#d8dff0; color:#818a91;' : ''%>">
    <h3><%= leg.guard1.guard_sponsor.name %> to <%= leg.guard2.guard_sponsor.name %> <%= leg.is_gauntlet ? '(Gauntlet)' : '' %><%= leg.is_tsetse ? '(Tsetse line)' : '' %></h3>
    <%=number_with_precision( leg.distance_m/1000.0, precision: 2) %>km
  </div>
  <table class="table table-sm">
    <thead class="thead-inverse">
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Team</th>
      <th>Distance</th>
      <th>Multiple</th>
      <th>From</th>
      <th>To</th>
      <th>Time</th>
    </tr>
    </thead>

    <% leg.entry_legs.order(distance_m: :asc).each_with_index do |entry_leg,i| %>
    <tr>
      <td><%= entry_leg.position %></td>
      <td><%= entry_leg.entry.car_no %></td>
      <td><%= entry_leg.entry.team.name %></td>
      <td><%= number_with_precision(entry_leg.distance_m/1000.0, precision: 2) %>km</td>
      <td><%= number_with_precision(entry_leg.distance_m / parse_float(leg.distance_m,false),precision:2) %>x</td>
      <td><%= formattime(entry_leg.checkin1.checkin_timestamp) %></td>
      <td><%= formattime(entry_leg.checkin2.checkin_timestamp) %></td>
      <td><%= entry_leg.elapsed_s/60%> min</td>
    </tr>
    <% end %>

  </table>
</div>
<% end %>