<div class="col-sm-8">
  <div class="heading-bar">
    <h3><%= @leg.guard1.sponsor.name %> - <%= @leg.guard2.sponsor.name %></h3>
  </div>
  <table class="table table-sm">
    <thead class="thead-inverse">
    <tr>
      <th>Position</th>
      <th>Team</th>
      <th>Team</th>
      <th>Direction</th>
      <th>Distance</th>
      <th>Multiple</th>
      <th>From</th>
      <th>To</th>
      <th>Time</th>
    </tr>
    </thead>

    <% @leg.entry_legs.order(:start_time).each_with_index do |entry_leg,i| %>
        <tr>
          <td><%= entry_leg.position %></td>
          <td><%= entry_leg.entry.car_no %></td>
          <td><a href="#" id="entry-<%= entry_leg.entry.id %>"><%= entry_leg.entry.name %></a></td>
          <td><%= entry_leg.checkin1.guard.name %> to <%= entry_leg.checkin2.guard.name %></td>
          <td><%= number_with_precision(entry_leg.distance_m/1000.0, precision: 2) %>km</td>
          <td><%= number_with_precision(entry_leg.distance_m / parse_float(@leg.distance_m,false),precision:2) %>x</td>
          <td><%= formattime(entry_leg.checkin1.checkin_timestamp) %></td>
          <td><%= formattime(entry_leg.checkin2.checkin_timestamp) %></td>
          <td><%= entry_leg.elapsed_s/60%> min</td>
        </tr>
    <% end %>

  </table>
  <div id='legmap' class='col-sm-12' data-guard1-id="<%= @leg.guard1.id %>" data-guard2-id="<%= @leg.guard2.id %>" data-center-lat="<%= @leg.location_y %>" data-center-lon="<%= @leg.location_x %>" data-scale="14"></div>
</div>