<%= form_for @sponsor, builder: LabellingFormBuilder  do |f| %>
    <% if @sponsor.errors.any? %>
        <% @sponsor.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger" role="alert">
              <%= msg %>
            </div>
        <% end %>
    <% end %>

    <%= f.label_text_field "Name",:name, {} %>

    <%= f.label_text_field "Short Name",:short_name%>

    <%= f.submit ( f.object.new_record? ? "Create" : "Update"), class: "btn btn-primary" %>
    <%= link_to 'Cancel', sponsors_path, class: "btn btn-primary" %>

<% end %>
