<% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:error] %>
    </div>
<% end %>

<div class="heading-bar"><h3>Checkpoint Sponsors</h3></div>

<table class="table table-sm">
  <thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Short Name</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <% @guard_sponsors.each do |guard_sponsor| %>
      <tr>
        <td><%= guard_sponsor.name %></td>
        <td><%= guard_sponsor.short_name %></td>
        <td><%= link_to 'Edit', edit_guard_sponsor_path(guard_sponsor) %></td>
        <td><%= link_to 'Delete', guard_sponsor_path(guard_sponsor), method: :delete%></td>
      </tr>
  <% end %>
</table>
<%= link_to 'New Sponsor', new_guard_sponsor_path,class: "btn btn-primary" %>
