<% if flash[:error] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:error] %>
    </div>
<% end %>

<div class="heading-bar"><h3>Cars</h3></div>

<table class="table table-sm">
  <thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Make</th>
    <th>Model</th>
    <th>Colour</th>
    <th>Entries</th>
    <th>Year</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <% @cars.each do |car| %>
      <tr>
        <td><%= link_to car.name, edit_car_path(car) %></td>
        <td><%= car.make.blank? ? '' : car.make.name %> </td>
        <td><%= car.car_model %></td>
        <td><%= car.colour %></td>
        <td><%= car.entries.count %></td>
        <td><%= car.year %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Delete', car_path(car), method: :delete%></td>
      </tr>
  <% end %>
</table>
<%= link_to 'New car', new_car_path,class: "btn btn-primary" %>
