
<div class="heading-bar"><h3>Charges</h3></div>

<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Teams</th>
    <th>Raised</th>
    <th>Grants</th>
  </tr>
  </thead>

  <%
    raised_sum=0
    dollar_sum=0
    grant_sum=0
    kgrant_sum=0
    @charges.each do |charge|
      raised_sum+=charge.raised_kwacha
      dollar_sum+=charge.raised_dollars
      grant_sum+=charge.grant_dollars
      kgrant_sum+=charge.grant_kwacha
  %>
      <tr class="<%= charge.state_ref=='NOT_SETUPx' ? 'table-danger' : charge.state_ref='' ? '' : 'table-warning' %>">
        <td><%= link_to charge.name, charge_path(charge) %></td>
        <td><%= charge.location %></td>
        <td><%= charge.charge_date.strftime("%a %-d %b %Y") %></td>
        <td><%= charge.entries_count %></td>
        <td>$<%= number_with_precision(charge.raised_dollars, precision: 0, delimiter: ',')%></td>
        <td>$<%= number_with_precision(charge.grant_dollars, precision: 0, delimiter: ',')%></td>

      </tr>
  <% end %>
  <tr class="bg-inverse">
    <td colspan="4"></td>
    <td>$<%= number_with_precision(dollar_sum, precision: 0, delimiter: ',')%></td>
    <td>$<%= number_with_precision(grant_sum, precision: 0, delimiter: ',')%></td>

  </tr>
</table>

<%= link_to 'New charge', new_charge_path,class: "btn btn-primary"  %>
