
<div class="heading-bar"><h3>Charges</h3></div>

<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
    <th>Teams</th>
    <th>Raised</th>
    <th>Exchange</th>
    <th>Raised</th>
    <th></th>
  </tr>
  </thead>

  <% @charges.each do |charge| %>
      <tr class="<%= charge.state_ref=='NOT_SETUP' ? 'table-danger' : charge.state_ref=='RESULT' ? '' : 'table-warning' %>">
        <td><%= link_to charge.name, charge_path(charge) %></td>

        <td><%= charge.location %></td>
        <td><%= charge.charge_date.strftime("%a %-d %b %Y") %></td>
        <td><%= charge.entries_count %></td>
        <td>K<%= number_with_precision(charge.raised_kwacha, precision: 0, delimiter: ',')%></td>
        <td><%= charge.exchange_rate%></td>
        <td>$<%= number_with_precision(charge.raised_dollars, precision: 0, delimiter: ',')%></td>

        <td><%= link_to 'Result', result_charge_path(charge) %></td>
      </tr>
  <% end %>
</table>

<%= link_to 'New charge', new_charge_path,class: "btn btn-primary"  %>
