<div class="col-sm-8">
  <div class="col-sm-12 heading-bar"><h3>Entries (<%= @charge.entries_count %>)</h3>
    <%= link_to 'Edit', charge_path(@charge) + '/entriesbulk'%>
  </div>
  <table class="table table-sm">
    <thead class="thead-inverse">
    <tr>
      <th>Car</th>
      <th>Team</th>
      <th>Type</th>
      <th>Start</th>
      <th>Start</th>
      <th>ZMK</th>
      <th>Data</th>
      <th>Result</th>
      <th>Distance</th>
    </tr>
    </thead>

    <% @entries.each do |entry| %>
        <tr>
          <td>
            <%= link_to entry.car_no, charge_entry_path(@charge,entry) %>
          </td>
          <td>
            <%= link_to entry.team.name, charge_entry_path(@charge,entry) %>
          </td>
          <td>
            <%= entry.types_description %>
          </td>
          <td>
            <%= entry.start_guard.nil? ? '': entry.start_guard.name%>
          </td>
          <td>
            <%= entry.checkins.count==0 ? '': formattime(entry.checkins.order(:checkin_number).first.checkin_timestamp) %>
          </td>
          <td>
            K<%= entry.raised_kwacha.nil? ? '  -' : number_with_delimiter(entry.raised_kwacha) %>
          </td>
          <td class="<%= entry.state_ref.nil? ? 'table-danger' : entry.state_ref=='RAW' ? 'table-warning' : 'table-success'%>" >
            <% unless entry.state_messages.nil? %>
              <%= image_tag('ic_warning.png',{:style=>'width:13px;',:'data-toggle'=>'tooltip',:title=>'',:'data-original-title'=>entry.state_messages.join(' ')}) %>
            <% end %>
            <%= entry.checkins.count>0 ? 'CPs' : '' %>

          </td>
          <td class="
            <% if entry.result_state_ref=='PROCESSED' %>
              <% if entry.result=='Complete'%>
                <%= 'table-success' %>
              <% else %>
                <%= 'table-warning' %>
              <% end %>
            <% else %>
              <%= 'table-danger' %>
            <% end %>
            ">
            <% if entry.result_state_ref=='PROCESSED' %>
              <%= entry.result %>
            <% end %>
          </td>

          <td class="
            <% if entry.result_state_ref=='PROCESSED' %>
              <% if entry.result=='Complete' %>
                <%= 'table-success' %>
              <% else %>
                <%= 'table-warning' %>
              <% end %>
            <% else %>
              <%= 'table-danger' %>
            <% end %>
            ">
            <% if entry.result_state_ref=='PROCESSED' %>
                <%= entry.dist_competition.nil? ? '-' : number_with_precision(entry.dist_competition/1000.0, precision: 2) %>km
            <% end %>
          </td>

        </tr>
    <% end %>
  </table>
  <%= link_to 'Add', new_charge_entry_path(@charge),class: "btn btn-primary" %>
  <br/><br/><br/><br/>


  <div class="col-sm-12 heading-bar"><h3>Checkpoints</h3></div>
  <table class="table  table-sm">
    <thead class="thead-inverse">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Gauntlet?</th>
      <th>Radius</th>
      <th>Located</th>
      <th>Starters</th>
      <th></th>
    </tr>
    </thead>

    <% @guards.each_with_index do |guard,i| %>
        <tr>
          <td>
            <%=(i+1)%>
          </td>
          <td>
            <%= link_to guard.guard_sponsor.name, edit_charge_guard_path(@charge,guard) %>
          </td>
          <td style="padding:0.0rem">
            <%= guard.is_gauntlet ? image_tag("ic_done_black.png"):'' %>
          </td>
          <td>
            <%= guard.radius_m.nil? ? "-":guard.radius_m.to_s + "m" %>
          </td>
          <td style="padding:0.0rem">
            <%= guard.is_located? ? image_tag("ic_done_black.png"):"" %>
          </td>
          <td>
            <%= guard.starters.count>0 ? guard.starters.count : '-' %>
          </td>

          <td>
            <%= link_to 'Del', charge_guard_path(@charge,guard), method: :delete%>
          </td>
        </tr>
    <% end %>
  </table>
  <%= link_to 'Add', new_charge_guard_path(@charge),class: "btn btn-primary"  %>
  <br/><br/><br/><br/>

  <div class="col-sm-12 heading-bar"><h3>Legs</h3></div>
  <%= form_for @charge,as: :post,url: legstsetse_charge_path do |fc| %>
  <table class="table table-sm">
    <thead class="thead-inverse">
    <tr>
      <th>Checkpoints</th>
      <th>Distance</th>
      <th>Teams</th>
      <th>Gauntlet?</th>
      <th>Tsetse?</th>
    </tr>
    </thead>

      <% @legs.each do |leg| %>
            <%= fc.fields_for leg, index: leg.id do |f|%>
              <tr>
                <td><%= link_to(leg.guard1.name + '-' + leg.guard2.name,charge_leg_path(@charge,leg)) %></td>
                <td><%= number_with_precision(leg.distance_m/1000.0, precision: 2)%></td>
                <td><%= leg.entries.count %></td>
                <td><%= leg.is_gauntlet ? 'yes' : 'no' %></td>
                <td>
                  <% unless leg.is_gauntlet %>
                  <%= f.check_box(:is_tsetse) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
      <% end %>
  </table>
  <%= submit_tag "Update",  class: "btn btn-primary " %>
  <% end %>
</div>

<div class="col-sm-4">
  <div class="heading-bar"><h4><%=@charge.charge_date.strftime("%a %d %b %Y") %></h4></div>
  <div id='cpmap' class='' data-center-lat="<%= @charge.map_center.nil? ? 0:@charge.map_center.y %>" data-center-lon="<%= @charge.map_center.nil? ? 0:@charge.map_center.x %>" data-scale="<%= @charge.map_scale %>"></div>

  <div class="card" style="margin-top: 20px;">
    <div class="card-header">
      <h3 class="card-title">Status</h3>
    </div>
    <div class="card-block">
      <%=@charge.state_description%>
      <ul>
        <%@charge.state_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  </div>

  <div class="card" style="margin-top: 20px;">
    <div class="card-header">
      <h3 class="card-title">Results</h3>
    </div>
    <div class="card-block">
      <%= link_to 'Summary',result_charge_path(@charge) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Legs',charge_legs_path(@charge) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to 'Teams',charge_entries_path(@charge) %>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Read From KML</h3>
    </div>
    <div class="card-block">
      <%= form_tag({action: :uploadkml}, multipart: true) do %>
          <div class="form-group row">
          <%= file_field_tag 'kmlfile' %>
          <%= submit_tag "Upload", class: "btn btn-primary btn-sm" %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Actions</h3>
    </div>
    <div class="card-block">
      <%= form_tag({action: :clear_results}) do %>
          <div class="form-group">
            <%= submit_tag "Clear Results", class: "btn btn-primary btn-sm" %>
          </div>
      <% end %>
      <%= form_tag({action: :process_results}) do %>
          <div class="form-group">
            <%= submit_tag "Process Results", class: "btn btn-primary btn-sm" %>
          </div>
      <% end %>
      <%= form_tag({action: :recalc_distances}) do %>
          <div class="form-group">
            <%= submit_tag "Recalc Distances", class: "btn btn-primary btn-sm" %>
          </div>
      <% end %>

    </div>
  </div>

</div>