<nav class="navbar navbar-dark bg-primary" style="margin-bottom: 20px;">
  <%= image_tag 'ec_logo_grey.png',class:'pull-xs-left',style:'height:50px;margin-right:10px;'%>
  <div style="position:absolute;left:58px;top:37px;"><em>Dust, sweat & gears</em></div>
  <% if @charge and @charge.id %>
      <%= link_to @charge.name + ' ' + @charge.location, charge_path(@charge), class: "navbar-brand" %>

      <div class="btn-group pull-xs-right">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/charges">Charges</a>
          <a class="dropdown-item" href="/teams">Teams</a>
          <a class="dropdown-item" href="/cars">Cars</a>
          <a class="dropdown-item" href="/sponsors">Sponsors</a>
          <a class="dropdown-item" href="/beneficiaries">Beneficiaries</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="<%=charge_path(@charge)%>">Show Charge</a>
          <a class="dropdown-item" href="<%=edit_charge_path(@charge)%>">Edit Charge</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="<%= result_charge_path(@charge) %>">Summary Results</a>
          <a class="dropdown-item" href="<%= charge_entries_path(@charge) %>">Team Results</a>
          <a class="dropdown-item" href="<%= charge_legs_path(@charge) %>">Leg Results</a>
        </div>
      </div>


  <%else%>

      <%= link_to "Elephant Charge", root_path, class: "navbar-brand" %>

      <div class="btn-group pull-xs-right">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/charges">Charges</a>
          <a class="dropdown-item" href="/teams">Teams</a>
          <a class="dropdown-item" href="/cars">Cars</a>
          <a class="dropdown-item" href="/sponsors">Sponsors</a>
          <a class="dropdown-item" href="/beneficiaries">Beneficiaries</a>
        </div>
      </div>

  <%end%>
</nav>
<!-- Modal -->
